body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F5DC; /* Cream-colored off-white background */
    background-image: url('background.JPG');
    background-size: cover;
    color: #008080; /* Teal color */
    text-align: center;
    padding: 50px 0;
}

.container {
    margin: 0 auto; /* Center the container horizontally */
    max-width: 800px; /* Set maximum width for the container */
}

.name {
    font-family: 'EB Garamond', serif;
    font-size: 48px;
    color: #008080; /* Teal color */
}

.bio {
    font-family: 'Inter', sans-serif;
    margin: 20px auto;
    width: 100%; /* Set width to 100% for responsiveness */
    max-width: 600px;
}

.symbol {
    font-size: 64px;
    color: #008080; /* Teal color */
}

a {
    color: #008080; /* Teal color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .container {
        padding: 0 20px; /* Add padding to the container for smaller screens */
    }

    .name {
        font-size: 36px; /* Decrease font size for smaller screens */
    }

    .symbol {
        font-size: 48px; /* Decrease font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .name {
        font-size: 24px; /* Decrease font size further for very small screens */
    }

    .symbol {
        font-size: 32px; /* Decrease font size further for very small screens */
    }
}
