body {
    font-family: 'Inter', sans-serif;
    background-color: #F5F5DC; /* Cream-colored off-white background */
    background-image: url('background.JPG');
    background-size: cover;
    color: #008080; /* Teal color */
    text-align: center;
    padding: 50px 0;
}

.name {
    font-family: 'EB Garamond', serif;
    font-size: 48px;
    color: #008080; /* Teal color */
}

.bio {
    font-family: 'Inter', sans-serif;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

.symbol {
    font-size: 64px;
    color: #008080; /* Adjusted to maintain consistency */
}

a {
    color: #008080; /* Teal color */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* Responsive Design Adjustments */
@media (max-width: 768px) {
    .container {
        margin: 10px;
        padding: 15px;
    }

    h1 {
        font-size: 24px; /* Slightly smaller on smaller screens */
    }

    p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container {
        margin: 5px;
        padding: 10px;
    }

    h1 {
        font-size: 20px; /* Even smaller for very small screens */
    }

    p {
        font-size: 12px;
    }
}
